body {
  background-color: #f2f2f2;
}

#container {
  width: 100%;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
#container .card {
  width: 320px;
  height: 480px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  -webkit-perspective: 500px;
          perspective: 500px;
  position: relative;
}
#container .card .content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 0 20px 2px;
          box-shadow: 0 0 20px 2px;
}
#container .card .content.onLeave {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
